
.container table{
	border-radius: 10px;
    border: 2px green; 
}


.container td{
	border-radius: 10px;
	border: 2px solid #99CCFF; 
	padding: 6px;
}

.container th{
	border-radius: 10px;
	border: 2px solid #99CCFF; 
}


.jumbotron {
	margin-bottom: 0px
}

.jumbotron h1 {

	display: inline;

	position: relative;

	font: 100px Helvetica, Sans-Serif;

	letter-spacing: -5px;

	color: rgba(0,180,200,0.45); 

}

.jumbotron h1:after {
	content: "FRESHness";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.35);   
}

.jumbotron h1 {
	font-size: 100px;
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron h2{
	padding-top: 150px
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;

}
/* .jumbotron means all things inside jumbotron, then text-align centers it*/
