


.container table{
	border-radius: 10px;
    border: 2px green; 
    border-collapse: collapse;
}


.container td{
	border-radius: 10px;
	border: none; 
	padding: 6px;
}



.jumbotron {
	height: 180px;
}
.jumbotron h1 {

	display: inline;

	position: relative;

	font: 100px Helvetica, Sans-Serif;

	letter-spacing: -5px;

	margin-left: 100px;

	color: rgba(0,180,200,0.45); 

}

.jumbotron h1:after {
	content: "FRESHness";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.35);   
}

.jumbotron h1 {
	font-size: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
}



/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background: #E0FFFF;

}
/* .jumbotron means all things inside jumbotron, then text-align centers it*/
